*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hero{
    height:100vh;
    width:100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.6)),url('./images/im-1.jpg');
    background-size: cover;
    background-position: ;
    align-items: flex-start;
   
}
nav{
    display: flex;
    text-align: right;
    margin-left: auto;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    justify-content:flex-end;
}

.logo{
    color:#fff;
    font-size: 28px;
    justify-content: flex-start;
    padding-right: 50%;
    
   
    
}
span{
    color:#ea1538;
}
nav ul li {
    list-style-type: none;
    display:inline-block;
    padding:10px 20px;
   

}
nav ul li a{
    color:white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: #eaeaea;
    transition: .3s;
}
button{
    border:none;
    background-color: #ea1538;
    padding: 12px 30px;
    border-radius:10px;
    color:white;
    font-weight:bold;
    font-size:15px;
    transition:.4s;

}

button:hover{
    transform: scale(1.3)
}/








